<li class="search__suggest-item">
    {{#ifCond showAs 'endpoint'}}
        <a href='{{getPageLinkToEndpoint this}}'>
            <span class="endpoint {{method}}">{{apiPath}}{{path}}</span>
        </a>
    {{/ifCond}}
    {{#ifCond showAs 'model'}}
        <a href='{{getPageLinkToType type}}'>
            <span class="endpoint">{{simpleName}}</span>
        </a>
    {{/ifCond}}
    {{#ifCond showAs 'enum'}}
        <a href='{{getPageLinkToType type}}'>
            <span class="endpoint">{{simpleName}} {{#if enclosingType}}at {{enclosingType}}{{/if}}</span>
        </a>
    {{/ifCond}}
    {{#ifCond showAs 'bang'}}
        <span><em><b>!</b>{{name}}</em> - {{description}}</span>
    {{/ifCond}}
</li>
