<div class="sidebar">
    <ul class="sidebar__group">
        <a href="#endpoints" class="group__title"><i class="fa fa-plug"></i><span>Endpoints</span></a>
        <li class="group__content group__content_endpoints group__content_active">
            <ul>
                {{#each apiContexts}}
                    <li class="api {{#if @first}}api_active{{/if}}">
                        <a class="api__path" href="#{{apiPath}}">{{apiPath}}</a>{{!
                        }}
                        <div class="api__toggler {{#if @first}}api__toggler_active{{/if}}"></div>

                        <ul class="api__endpoints">
                            {{#each apiEndpoints}}
                                <li>
                                    <a title="{{path}}"
                                       href="{{getPageLinkToEndpoint (hashToObject method=method apiPath=../apiPath path=path)}}">
                                        <span class="endpoint {{method}}">{{path}}</span>
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    </li>
                {{/each}}
            </ul>
        </li>

        <a href="#types" class="group__title"><i class="fa fa-plug"></i><span>Types</span></a>
        <li class="group__content group__content_types">
            <ul>
                {{#each usedApiTypes}}
                    <li class="api">
                        <a class="api__path" title="{{type}}" href="{{getPageLinkToType type}}">
                            <span class="endpoint {{modelType}}">{{getAfterLastDot type}}</span>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </li>

        <a href="#enumerations" class="group__title"><i class="fa fa-plug"></i><span>Enumerations</span></a>
        <li class="group__content group__content_enumerations">
            <ul>
                {{#each usedEnumerations}}
                    <li class="api">
                        <a class="api__path"  title="{{type}}" href="{{getPageLinkToType type}}">
                            <span class="endpoint {{modelType}}">{{getAfterLastDot type}}</span>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </li>
    </ul>
</div>
