<div class="sidebar">
    <ul class="nav nav-sidebar">
        <a href="#endpoints" class="sidebar-title"> <i class="fa fa-plug"></i> <span>Endpoints</span></a>
        <li class="endpoints side-container active">
            <ul class="nav nav-sidebar">
                {{#each apiContexts}}
                    <li>
                        <a class="gray" href="#{{apiPath}}"><span class="endpoint">{{apiPath}}</span></a>
                    </li>
                    {{#each apiEndpoints}}
                        <li>
                            <a title="{{path}}" href="{{urler method=method apiPath=../apiPath path=path}}">
                                <span class="endpoint {{method}}">{{path}}</span>
                            </a>
                        </li>
                    {{/each}}
                {{/each}}
            </ul>
        </li>

        <a href="#types" class="sidebar-title"> <i class="fa fa-file-text"></i> <span>Types</span></a>
        <li class="types side-container">
            <ul class="nav nav-sidebar">
                {{#each usedApiTypes}}
                    <li>
                        <a title="{{type}}" href="#{{shrinkByDots type}}">
                            <span class="endpoint {{modelType}}">{{shrinkByDots type}}</span>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </li>

        <a href="#enumerations" class="sidebar-title"> <i class="fa fa-file-text"></i> <span>Enumerations</span> </a>
        <li class="enumerations side-container">
            <ul class="nav nav-sidebar">
                {{#each usedEnumerations}}
                    <li>
                        <a title="{{type}}" href="#{{shrinkByDots type}}">
                            <span class="endpoint {{modelType}}">{{shrinkByDots type}}</span>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </li>
    </ul>
</div>
