<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Apiator</title>
    <style type="text/css"> ${css} </style>
    <script type="text/javascript"> ${js} </script>
    ${hbs}
    <script type="text/x-handlebars-template" id="template">
        <header class="navbar navbar-default navbar-fixed-top" id="top">
            <div class="container">
                <a href="#" class="navbar-brand">
                    {{#if clientApiInfo.version}} {{clientApiInfo.basePath}} {{clientApiInfo.version}}
                    {{else}}Core HTML Renderer
                    {{/if}}
                </a>
                <nav>
                    <ul class="nav navbar-nav">
                        <li><a href="#">Endpoints</a></li>
                        <li><a href="#used-enumerations">Enumerations</a></li>
                        <li><a href="#used-api-types">Types</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://bitbucket.org/ainrif/apiator">Apiator v{{apiatorInfo.version}}</a></li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" id="fuzzy-input" placeholder="Search for path">
                            <ul class="dropdown-menu dropdown-menu-left" role="menu" id="fuzzy-suggest">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">item</a></li>
                            </ul>
                        </div>
                    </form>
                </nav>
            </div>
        </header>
        <div class="row" style="margin-top: 50px;">
            <nav class="col-xs-3 complementary">
                <ul id="sidebar" class="nav nav-stacked fixed">
                    {{#each apiContexts}}
                        <li>
                            <a href="#{{hashCode name}}">{{name}}</a>
                            <ul class="nav nav-stacked">
                                {{#each apiEndpoints}}
                                    <li><a href="#{{hashCode ../name}}-{{hashCode name}}">{{name}}</a></li>
                                {{/each}}
                            </ul>
                        </li>
                    {{/each}}
                    <li>
                        <a href="#used-enumerations">Used Enumerations</a>
                        <ul class="nav nav-stacked">
                            {{#each usedEnumerations}}
                                <li><a href="#uat-{{hashCode type}}">{{shrinkByDots type}}</a></li>
                            {{/each}}
                        </ul>
                    </li>
                    <li>
                        <a href="#used-api-types">Used Api Types</a>
                        <ul class="nav nav-stacked">
                            {{#each usedApiTypes}}
                                <li><a href="#uat-{{hashCode type}}">{{shrinkByDots type}}</a></li>
                            {{/each}}
                        </ul>
                    </li>
                </ul>
            </nav>
            <!--Main Content -->
            <div class="col-xs-9" role="main">
                <h2>Endpoints</h2>
                {{#each apiContexts}}
                    <div class="target-marker" id="{{hashCode name}}"></div>
                    <section>
                        <h3>{{name}}</h3>

                        <p>{{apiPath}}</p>

                        {{#each apiEndpoints}}
                            <div class="target-marker" id="{{hashCode ../name}}-{{hashCode name}}"></div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="pull-right">{{name}}</span>
                                    <span class="label label-default">{{method}}</span> {{../apiPath}}{{path}}
                                </div>
                                <div class="panel-body">
                                    <div>
                                        return:
                                        {{#if returnType.type}}
                                            <a href="#uat-{{hashCode returnType.type}}">
                                                <code>{{shrinkByDots returnType.type}}</code>
                                            </a>
                                        {{else}}
                                            <code>{{returnType.modelType}}</code>
                                        {{/if}}

                                        {{#if returnType.basedOn}}
                                            based on:
                                            {{#each returnType.basedOn}}
                                                <!--todo need to process nested values-->
                                                {{#if this.type}}
                                                    <a href="#uat-{{hashCode this.type}}">
                                                        <code>{{shrinkByDots this.type}}</code>
                                                    </a>
                                                {{else}}
                                                    <code>{{this.modelType}}</code>
                                                {{/if}}
                                            {{/each}}
                                        {{/if}}
                                    </div>
                                    {{#if params}}
                                        <div>
                                            params:
                                            {{#each params}}
                                                <span class="label label-primary">@{{httpParamType}}</span>
                                                : {{name}}
                                                {{#if type}}
                                                    <a href="#uat-{{hashCode type}}">
                                                        <code>{{shrinkByDots type}}</code>
                                                    </a>
                                                {{else}}
                                                    <code>{{modelType}}</code>
                                                {{/if}}

                                                {{#if basedOn}}
                                                    based on:
                                                    {{#each basedOn}}
                                                        {{#if this.type}}
                                                            <a href="#uat-{{hashCode this.type}}">
                                                                <code>{{shrinkByDots this.type}}</code>
                                                            </a>
                                                        {{else}}
                                                            <code>{{this.modelType}}</code>
                                                        {{/if}}
                                                    {{/each}}
                                                {{/if}}
                                                <br/>
                                                <span style="display:inline-block; width:51px"></span>
                                            {{/each}}
                                        </div>
                                    {{/if}}
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <a class="btn btn-default btn-sm"
                                               data-toggle="collapse"
                                               href="#raw-{{hashCode ../name}}-{{hashCode name}}"
                                               aria-controls="#raw-{{hashCode ../name}}-{{hashCode name}}"
                                               aria-expanded="false">
                                                Raw View
                                            </a>

                                            <div class="collapse" id="raw-{{hashCode ../name}}-{{hashCode name}}">
                                                <pre>{{json this}}</pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </section>
                {{/each}}
                <div class="target-marker" id="used-enumerations"></div>
                <section>
                    <h2>Enumerations</h2>
                    {{#each usedEnumerations}}
                        <div class="target-marker" id="uat-{{hashCode type}}"></div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{type}}
                            </div>
                            <div class="panel-body">
                                possible values:
                                {{#each values}}
                                    <code>{{this}}</code>
                                {{/each}}
                                <div class="row">
                                    <div class="col-xs-12">
                                        <a class="btn btn-default btn-sm"
                                           data-toggle="collapse"
                                           href="#raw-{{hashCode type}}"
                                           aria-controls="#raw-{{hashCode type}}"
                                           aria-expanded="false">
                                            Raw View
                                        </a>

                                        <div class="collapse" id="raw-{{hashCode type}}">
                                            <pre>{{json this}}</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </section>
                <div class="target-marker" id="used-api-types"></div>
                <section>
                    <h2>Types</h2>
                    {{#each usedApiTypes}}
                        <div class="target-marker" id="uat-{{hashCode type}}"></div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{type}}
                            </div>
                            <div class="panel-body">
                                {{#each fields}}
                                    <div>
                                        <!--inverse of access logic means ui can set/get params-->
                                        {{#if readable}}
                                            <span class="label label-success">set</span>
                                        {{else}}
                                            <span class="label label-danger">set</span>
                                        {{/if}}
                                        {{name}} :
                                        {{#if type}}
                                            <a href="#uat-{{hashCode type}}">
                                                <code>{{shrinkByDots type}}</code>
                                            </a>
                                        {{else}}
                                            <code>{{modelType}}</code>
                                        {{/if}}
                                        {{#if basedOn}}
                                            based on:
                                            {{#each basedOn}}
                                                {{#if this.type}}
                                                    <a href="#uat-{{hashCode this.type}}">
                                                        <code>{{shrinkByDots this.type}}</code>
                                                    </a>
                                                {{else}}
                                                    <code>{{this.modelType}}</code>
                                                {{/if}}
                                            {{/each}}
                                        {{/if}}
                                    </div>

                                {{/each}}
                                <div class="row">
                                    <div class="col-xs-12">
                                        <a class="btn btn-default btn-sm"
                                           data-toggle="collapse"
                                           href="#raw-{{hashCode type}}"
                                           aria-controls="#raw-{{hashCode type}}"
                                           aria-expanded="false">
                                            Raw View
                                        </a>

                                        <div class="collapse" id="raw-{{hashCode type}}">
                                            <pre>{{json this}}</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </section>
            </div>
        </div>
    </script>
</head>
<body>
<div id="doc-container"></div>
</body>
<style type="text/css">
    body {
        overflow-x: hidden;
    }

    .target-marker {
        position: relative;
        border-top: 52px solid transparent;
        margin: -40px 0 0;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
    }

    .fixed {
        position: fixed;
    }

    .complementary {
    }

    #sidebar {
        overflow-y: scroll;
        overflow-x: hidden;
        padding-bottom: 10px;
        width: 24%;
    }

    /* all links */
    .complementary .nav > li > a {
        color: #999;
        border-left: 3px solid transparent;
        padding: 4px 20px;
        font-size: 13px;
        font-weight: 400;
    }

    /* nested links */
    .complementary .nav .nav > li > a {
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 30px;
        font-size: 12px;
    }

    /* active & hover links */
    .complementary .nav > .active > a,
    .complementary .nav > li > a:hover,
    .complementary .nav > li > a:focus {
        color: #61AF61;
        text-decoration: none;
        background-color: transparent;
        border-left-color: #61AF61;
    }

    /* all active links */
    .complementary .nav > .active > a,
    .complementary .nav > .active:hover > a,
    .complementary .nav > .active:focus > a {
        font-weight: 700;
    }

    /* nested active links */
    .complementary .nav .nav > .active > a,
    .complementary .nav .nav > .active:hover > a,
    .complementary .nav .nav > .active:focus > a {
        font-weight: 500;
    }

    /* hide inactive nested list */
    .complementary .nav ul.nav {
        display: none;
    }

    /* show active nested list */
    .complementary .nav > .active > ul.nav {
        display: block;
    }
</style>
<script type="text/javascript">
    var template = jq('#template');
    var templateSrc = template.html();
    template.remove();

    function stringHashCode(str) {
        var hash = 0;
        if (str.length == 0) return hash;
        for (var i = 0; i < str.length; i++) {
            var char = str.charCodeAt(i);
            hash = ((hash << 5) - hash) + char;
            hash = hash & hash;
        }
        return hash;
    }

    Handlebars.registerHelper('hashCode', stringHashCode);

    Handlebars.registerHelper('shrinkByDots', function (str) {
        var splitName = str.split(".");
        var result = '';
        for (var i = 0; i < splitName.length - 1; i++) {
            result += splitName[i][0] + '.';
        }
        result += splitName[splitName.length - 1];
        return result
    });

    Handlebars.registerHelper('json', function (data) {
        return JSON.stringify(data, null, "  ");
    });

    Handlebars.registerHelper('ifCond', function (v1, v2, options) {
        if (v1 === v2) {
            return options.fn(this);
        }
        return options.inverse(this);
    });

    var apiJson = ${json};

    jq('#doc-container')
            .html(Handlebars.compile(templateSrc)(apiJson));

    jq('body').scrollspy({
        target: '.complementary',
        offset: 40
    });

    var adjustSidebar = function () {
        jq('#sidebar').outerHeight(jq(window).height() - 50);
    };
    adjustSidebar();
    jq(window).resize(adjustSidebar);

    document.title = apiJson.version ? apiJson.version : 'Apiator';

    //fuzzy search
    var fuseDictionary = [];
    jq.each(apiJson.apiContexts, function () {
        var _apiPath = this.apiPath;
        var _title = this.title;
        jq.each(this.apiEndpoints, function () {
            var entry = {
                fullPath: _apiPath + this.path,
                method: this.method,
                hash: String(stringHashCode(_title)).concat('-', stringHashCode(this.name))
            };
            fuseDictionary.push(entry)
        })
    });

    var fuseOptions = {
        keys: ['fullPath'],
        caseSensitive: true// keys to search in
    };

    var fuse = new Fuse(fuseDictionary, fuseOptions);

    jq('html').click(function (event) {
        if (!jq(event.target).is('#fuzzy-suggest, #fuzzy-input')) {
            jq('#fuzzy-suggest').hide();
        }
    });

    jq('#fuzzy-suggest').on('click', 'li', function () {
        jq('#fuzzy-suggest').hide();
        jq('#fuzzy-input').val('');
    });

    jq('#fuzzy-input').on('keyup click', function () {
        var that = jq(this);
        if (2 > that.val().length) return;

        var hits = fuse.search(that.val()).slice(0, 10);
        var suggestItems = jq.map(hits, function (hit) {
            return jq('<li role="presentation">' +
                    '<a role="menuitem" tabindex="-1" href="#' + hit.hash + '">' +
                    '@' + hit.method + ' ' + hit.fullPath +
                    '</a>' +
                    '</li>')
        });

        var suggestMenu = jq('#fuzzy-suggest');
        suggestMenu.children().remove();
        suggestMenu.append(suggestItems);
        suggestMenu.show();
    })
</script>

<script>
    if (apiJson.apiatorInfo.version == 'UNPACKED') {
        document.write('<script src="'
                + 'http://localhost:35729/livereload.js"></'
                + 'script>')
    }
</script>
</html>