<div class="target-marker" id="{{apiPath}}"></div>
<div class="panel" style="font-size: 13px; line-height: 13px;">
    <div class="panel__name">{{getAfterLastDot name}}</div>
    {{#if description}}
        <div class="panel__description">{{description}}</div>
    {{/if}}

    <div class="panel__endpoints">
        {{#each apiEndpoints}}
            <div class="target-marker"
                 id="{{getTargetMarkerOfEndpoint (hashToObject method=method apiPath=../apiPath path=path)}}"></div>

            <div class="panel__endpoint panel__endpoint_type_{{method}}" data-type="standart">
                <div class="endpoint__header">
                    <span class="header__endpoint endpoint {{method}}">{{../apiPath}}{{path}}</span>
                    <span class="header__share copy-btn"
                          data-clipboard-text="{{getAbsoluteLinkToEndpoint (hashToObject method=method apiPath=../apiPath path=path)}}">Share</span>
                    <span class="header__view header__view_active" data-type="standart">Standard view</span>
                    <span class="header__view" data-type="tech">Tech view</span>
                </div>

                <div class="endpoint__content endpoint__content_standard">
                    {{#if description}}
                        <div class="content__description">{{description}}</div>
                    {{/if}}

                    {{#if params}}
                        <div class="content__params">
                            <div class="params__title">Parameters</div>
                            <table class="params__table">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Parameter type</th>
                                    <th>Data type</th>
                                    <th>Default value/Validation</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each params}}
                                    <tr class="param">
                                        <td>{{name}} {{#if required}}<span
                                                class="param__required">(required)</span>{{/if}}</td>
                                        <td class="param__http-type">{{httpParamType}}</td>
                                        <td>
                                            <div class="param__model-type">
                                                {{modelType}}
                                            </div>
                                            {{#if type~}}
                                                <a href="{{getPageLinkToType type}}" class="param__type">
                                                    {{getAfterLastDot type}}
                                                </a>
                                            {{~/if~}}
                                        </td>
                                        <td>{{#if defaultValue}}{{defaultValue}}{{else}}-{{/if}}</td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    {{/if}}

                    <div class="content__responses">
                        <div class="responses__title">Responses</div>
                        <div class="responses__param">
                            {{#if returnType.type}}
                                <a href="{{getPageLinkToType returnType.type}}" class="param__type-name">
                                    {{~getAfterLastDot returnType.type~}}
                                </a>
                            {{else}}
                                <div class="param__model-type">
                                    {{returnType.modelType}}
                                </div>
                                {{#if returnType.templateName~}}
                                    <a href="{{getPageLinkToType type}}" class="param__template-name">
                                        {{~returnType.templateName~}}
                                    </a>
                                {{~/if~}}
                            {{/if}}
                            {{~#if returnType.basedOn}}
                                {{~#each returnType.basedOn}}
                                    {{{responseTyper this}}}
                                    <!-- <span class="param__type-name"> {{{responseTyper this}}} </span> -->
                                {{/each~}}
                            {{/if~}}
                        </div>
                    </div>
                </div>
                <div class="endpoint__content endpoint__content_tech">
                    <div class="content__method">
                        <div class="method__title">Java method</div>
                        <div class="method__name">{{getAfterLastDot ../name}}.{{name}}</div>
                        <div class="method__copy copy-btn"
                             data-clipboard-text="{{../name}}#{{name}}">copy reference
                        </div>
                    </div>
                    <div class="content__vcs">
                        <div class="vcs__title">VCS</div>
                        <div class="vcs__name">{{getAfterLastDot ../name}}.java</div>
                        <div class="vcs__goto">go to file</div>
                    </div>
                    <div class="content__raw-view">
                        <div class="raw-view__title">Raw view</div>
                        <pre class="raw-view__viewer">{{{highlightJSON this}}}</pre>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
