<div class="target-marker" id="{{getIdForTargetMarkerOfModel type}}"></div>
<div class="panel panel_type type" style="font-size: 13px; line-height: 13px;">
    <div class="panel__header">
        <span class="panel__header-name">{{getAfterLastDot type}}</span>
        <span class="panel__header-share copy-btn" data-clipboard-text="{{getAbsoluteLinkToType type}}">Share</span>
    </div>
    <div class="panel__content">
        {{#if description}}
            <div class="panel__content-description">{{description}}</div>
        {{/if}}

        <div class="panel__content-title">Fields</div>

        <div class="panel__content-content">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Date type</th>
                </tr>
                </thead>
                <tbody>
                {{#each fields}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{{renderTemplateTypes this}}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>

        <div class="panel__content-title">Source Reference</div>
        <div class="panel__content-content type__src-ref">
            <div class="type__src-ref-name">{{type}}</div>

            <div class="type__src-ref-copy copy-btn" data-clipboard-text="{{type}}">
                copy reference
            </div>
        </div>
    </div>
</div>
