<div class="target-marker" id="{{getAfterLastDot type}}"></div>
<div class="panel" style="font-size: 13px; line-height: 13px;">
    <div class="panel__type">
        <div class="type__header">
            <span class="header__name">{{getAfterLastDot type}}</span>
            <span class="header__share">Share</span>
        </div>
        <div class="type__content">
            {{#if description}}
                <div class="content__description">{{description}}</div>
            {{/if}}

            <div class="content__fields">
                <div class="fields__title">Fields</div>
                <table class="fields__table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date type</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each fields}}
                        <tr class="field">
                            <td>{{name}}</td>
                            <td>
                                {{#ifCond modelType 'ANY'}}
                                    <span class="field__tamplate-name">{{templateName}}</span>
                                {{else}}
                                    <span class="field__model-type">{{modelType}}</span>
                                {{/ifCond}}
                                {{~#if basedOn~}}
                                    {{#each basedOn}}
                                        {{#if this.type}}
                                            <a href="{{getPageLinkToType this.type}}"
                                               class="field__type">{{getAfterLastDot this.type}}</a>
                                        {{else}}
                                            {{#ifCond this.modelType 'ANY'}}
                                                <span class="field__tamplate-name">{{this.templateName}}</span>
                                            {{else}}
                                                <span class="field__model-type">{{this.modelType}}</span>
                                            {{/ifCond}}
                                        {{/if}}
                                    {{/each}}
                                {{~/if~}}
                                {{~#if type~}}
                                    {{#ifCond this.type 'java.lang.Enum'}}
                                    {{else}}
                                        <a href="{{getPageLinkToType type}}"
                                           class="field__type">{{getAfterLastDot type}}</a>
                                    {{/ifCond}}
                                {{~/if~}}
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>

            <div class="content__method">
                <div class="method__title">Java method</div>
                <div class="method__name">
                    {{type}}
                </div>
                <div class="method__copy">
                    copy reference
                </div>
            </div>
        </div>
    </div>
</div>
