<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        {{#if clientApiInfo.version}} {{clientApiInfo.basePath}} {{clientApiInfo.version}}
                        {{else}}Core HTML Renderer
                        {{/if}}
                    </a>
                </div>
            </div>
            <div class="col-lg-10">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Api info</a></li>
                        <li><a href="#endpoints">Endpoints</a></li>
                        <li><a href="#types">Types</a></li>
                        <li><a href="#enumerations">Enumerations</a></li>
                        <li>
                            <a href="https://bitbucket.org/ainrif/apiator" target="_blank" title="Apiator v{{apiatorInfo.version}}">
                                <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-form">
                        <input type="text" class="form-control" id="fuzzy-input" placeholder="Search...">
                        <ul class="dropdown-menu dropdown-menu-left" role="menu" id="fuzzy-suggest">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">item</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid" data-spy="scroll">
    <div class="row" id="endpoints">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar complementary">
                <li class="endpoints">
                    <a href="#endpoints"> <i class="fa fa-plug"></i> <span class="endpoint">Endpoints</span></a>
                    <ul class="nav nav-sidebar">
                        {{#each apiContexts}}
                            <li>
                                <a href="#{{apiPath}}"><span class="endpoint">{{apiPath}}</span></a>
                                <ul class="nav nav-sidebar">
                                    {{#each apiEndpoints}}
                                        <li>
                                            <a title="{{path}}" href="{{urler  method=method apiPath=../apiPath path=path}}" data-target=""><span class="endpoint {{method}}">{{path}}</span></a>
                                        </li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/each}}
                    </ul>
                </li>
                <li class="types">
                    <a href="#types"> <i class="fa fa-file-text"></i> <span class="endpoint">Types</span></a>
                    <ul class="nav nav-sidebar">
                        {{#each usedApiTypes}}
                            <li>
                                <a title="{{shrinkByDots type}}" href="#{{shrinkByDots type}}" data-target=""><span class="endpoint {{lower modelType}}">{{shrinkByDots type}}</span></a>
                            </li>
                        {{/each}}
                    </ul>
                </li>
                <li class="enumerations">
                    <a href="#enumerations"> <i class="fa fa-file-text"></i> <span class="endpoint">Enumerations</span></a>
                    <ul class="nav nav-sidebar">
                        {{#each usedEnumerations}}
                            <li>
                                <a title="{{shrinkByDots type}}" href="#{{shrinkByDots type}}" data-target=""><span class="endpoint {{lower modelType}}">{{shrinkByDots type}}</span></a>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            </ul>
        </div>
        <!--Main Content -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" role="main">
            {{#each apiContexts}}
                <div class="target-marker" id="{{apiPath}}"></div>
                <h4 class="page-header">{{apiPath}}</h4>
                {{#each apiEndpoints}}
                    <div class="target-marker" id="_{{lower method}}_{{../apiPath}}{{path}}"></div>
                    <div class="panel {{panelStyle method}}">
                        <div class="panel-heading">
                            <span class="gray endpoint {{method}}">{{path}}</span>
                            <span class="span-left" data-clipboard-text="{{copyUrler  method=method apiPath=../apiPath path=path}}"><i class="fa fa-clipboard"></i></span>
                            <span class="navbar-right span-right" data-url="{{../name}}#{{name}}"><i class="fa fa-info-circle"></i></span>
                        </div>
                        <div class="panel-body">
                            <div class="container-fluid">
                                {{#if params}}
                                    <div class="row">
                                        <h5>Parameters</h5>

                                        <div class="col-xs-12 col-md-10">
                                            {{#each params}}
                                                <div class="row">
                                                    <div class="col-xs-2 col-sm-2 col-md-1 parameter lovercase">
                                                        ({{httpParamType}})
                                                    </div>
                                                    <div class="col-xs-2 col-sm-1 col-md-6 gap_x_r">
                                                        <span class="type object">{{modelType}}</span>
                                                        {{#if name}}<span class="gray italic">{{name}}</span>{{/if}}
                                                        {{~#if basedOn~}}
                                                            {{#each basedOn}}
                                                                {{#if this.type}}
                                                                    <a href="#" class="object object-link">{{this.type}}</a>
                                                                {{else}}
                                                                    <span class="lovercase">{{this.modelType}}</span>
                                                                {{/if}}
                                                            {{/each}}
                                                        {{~/if~}}
                                                        {{~#if type~}}
                                                            <span>→</span>
                                                            <span class="object-link"><a href="#">{{shrinkByDots type}}</a></span>
                                                        {{~/if~}}
                                                    </div>
                                                </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                {{/if}}
                                <div class="row">
                                    <h5>Responses</h5>

                                    <div class="col-xs-12 col-md-10">
                                        <div class="row">
                                            <div class="col-xs-1 col-md-1 response-code">200</div>
                                            <!--<div class="col-xs-4 col-md-3 response-format  object">application/json</div>-->
                                            <div class="col-xs-4 col-md-4 ">

                                                {{~#if returnType.type~}}
                                                    <span class="name object-link"><a href="#">
                                                        {{~shrinkByDots returnType.type~}}
                                                    </a></span>
                                                {{else}}
                                                    <span class="type">
                                                        {{~returnType.modelType~}}
                                                    </span>
                                                {{/if~}}
                                                {{~#if returnType.basedOn}}
                                                    {{~#each returnType.basedOn}}
                                                        {{{responseTyper this}}}
                                                    {{/each~}}
                                                {{/if~}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{/each}}

            <div class="target-marker" id="types"></div>
            <h4 class="page-header">Types</h4>
            {{#each usedApiTypes}}
                <div class="target-marker" id="{{shrinkByDots type}}"></div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <span class="gray endpoint {{method}}">{{shrinkByDots type}}</span>
                    </div>
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row">
                                <h5>Fields</h5>

                                <div class="col-xs-12 col-md-10">
                                    {{#each fields}}
                                        <div class="row">
                                            <div class="col-xs-2 col-sm-2 col-md-3">
                                                {{name}}
                                            </div>
                                            <div class="col-xs-2 col-sm-1 col-md-6 gap_x_r">
                                                <span class="type object">{{modelType}}</span>
                                                <!--{{#if name}}<span class="gray italic">{{name}}</span>{{/if}}-->
                                                {{~#if basedOn~}}
                                                    {{#each basedOn}}
                                                        {{#if this.type}}
                                                            <span>of </span>
                                                            <a href="#{{shrinkByDots this.type}}" class=" object-link">{{shrinkByDots this.type}}</a>
                                                        {{else}}
                                                            <span class="lovercase">{{this.modelType}}</span>
                                                        {{/if}}
                                                    {{/each}}
                                                {{~/if~}}
                                                {{~#if type~}}
                                                    <span>→</span>
                                                    <span class="object-link"><a href="#{{shrinkByDots type}}">{{shrinkByDots type}}</a></span>
                                                {{~/if~}}
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
            <div class="target-marker" id="enumerations"></div>
            <h4 class="page-header">Enumerations</h4>
            {{#each usedEnumerations}}
                <div class="target-marker" id="{{shrinkByDots type}}"></div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <span class="gray endpoint {{method}}">{{shrinkByDots type}}</span>
                    </div>
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row">
                                <h5>Values</h5>

                                <div class="col-xs-12 col-md-10">
                                    {{#each values}}
                                        <div class="row">
                                            <div class="col-xs-2 col-sm-2 col-md-3">
                                                {{this}}
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>