<div class="target-marker" data-id="{{apiPath}}"></div>
<div class="endpoints">
    <div class="endpoints__name">{{splitCamelCase (getAfterLastDot name)}}</div>
    {{#if description}}
        <div class="endpoints__description">{{description}}</div>
    {{/if}}
</div>

{{#each apiEndpoints}}
    <div class="target-marker"
         data-id="{{getIdForTargetMarkerOfEndpoint (hashToObject method=method apiPath=../apiPath path=path)}}"></div>
    <div class="panel endpoint endpoint_type_{{method}}" data-type="standard">

        <div class="panel__header">
            <span class="panel__header-name">{{method}}</span>
            <span class="panel__header-name">{{../apiPath}}{{path}}</span>
            <span class="panel__header-share copy-btn"
                  data-clipboard-text="{{getAbsoluteLinkToEndpoint
                          (hashToObject method=method apiPath=../apiPath path=path)}}">Copy link</span>
            <span class="panel__header-view panel__header-view_active" data-type="standard">Standard view</span>
            <span class="panel__header-view" data-type="tech">Tech view</span>
        </div>

        <div class="panel__content panel__content_standard">
            {{#if description}}
                <div class="panel__content-item panel__content-description">{{description}}</div>
            {{/if}}

            {{#if params}}
                <div class="panel__content-item">
                    <div class="panel__content-title">Parameters</div>
                    <table class="table table_endpoint">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Parameter type</th>
                            <th>Data type</th>
                            <th>Default value</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each params}}
                            <tr class="param">
                                <td>{{name}} {{#if required}}<span class="param__required">(required)</span>{{/if}}</td>
                                <td class="param__http-type">{{httpParamType}}</td>
                                <td>{{{renderTemplateTypes this}}}</td>
                                <td>{{#if defaultValue}}{{defaultValue}}{{else}}-{{/if}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            {{/if}}

            <div class="panel__content-item">
                <div class="panel__content-title">Responses</div>
                {{#each returnTypes}}
                    {{{renderTemplateTypes this}}}&nbsp;
                {{/each}}
            </div>
        </div>

        <div class="panel__content panel__content_tech">
            <div class="panel__content-item panel__content-endpoint-method">
                <div class="title">Java method</div>
                <div class="name">{{getAfterLastDot ../name}}.{{name}}</div>
                <div class="copy copy-btn"
                     data-clipboard-text="{{../name}}#{{name}}">copy reference
                </div>
            </div>
            <div class="panel__content-item panel__content-raw-view">
                <div class="title">Raw view</div>
                <pre class="viewer json">{{{highlightJSON this}}}</pre>
            </div>
        </div>
    </div>
{{/each}}
